Options +FollowSymLinks
RewriteEngine On

# Перенаправление статических файлов
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Перенаправление на index.php
RewriteRule . index.php [L]
